@import 'Variables.css';

.fld-menu {
    position: absolute;
    background-color: var(--action-background-color);
    color: var(--main-color);
    font-family: var(--action-font-family);
    font-size: var(--action-font-size);
    padding: 5px;
    clip-path: xywh(0 0 100% 100% round var(--main-border-radius));
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 -3em 3em rgb(30 20 20 / 30%);
    z-index: var(--menu-zindex);
    max-width: 25%;
}

.fld-menu-icon {
    padding: 0px 8px 0px 2px;
    cursor: pointer;
    scale: 0.9;
}

.fld-menu-item {
    padding: var(--menu-item-vertical-padding) 4px;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 16px;
}

    .fld-menu-item.checked::before {
        content: "\f00c";
        font: var(--fa-font-solid);
        color: hwb(from var(--input-background-color) h w b / 0.8);
        padding-right: 6px;
    }

    .fld-menu-item.current::before {
        content: "▶ ";
        color: hwb(from var(--input-background-color) h w b / 0.8);
        padding-right: 4px;
    }

    .fld-menu-item:not(.title):hover {
        border-radius: var(--main-border-radius);
        background-color: var(--main-color);
        color: var(--main-background-color);
    }

    .fld-menu-item.key {
        border-radius: var(--main-border-radius);
        border: dashed 1px var(--main-color);
    }

    .fld-menu-item.title {
        font-size: calc(var(--action-font-size) * 1.3);
        color: var(--main-color);
        background-color: var(--input-background-color);
        border-bottom: 1px solid hwb(from var(--input-background-color) h w b / 0.8);
        cursor: auto;
        text-wrap: auto;
        border-radius: var(--main-border-radius);
    }

    .fld-menu-item .openwith img {
        vertical-align: bottom;
    }

    .fld-menu-item img {
        width: 16px;
        height: 16px;
        padding-right: 2px;
        vertical-align: bottom;
    }

.fld-menu-separator {
    border-top: 1px solid hwb(from var(--input-background-color) h w b / 0.8);
    margin: 5px 0;
}

.fld-menu-items {
    padding: 4px 4px;
    cursor: pointer;
    display: flex;
    margin-right: 16px;
}

    .fld-menu-items.key {
        border-radius: var(--main-border-radius);
        border: dashed 1px var(--main-color);
    }

    .fld-menu-items::after {
        content: "\f054";
        font: var(--fa-font-solid);
        position: absolute;
        right: 8px;
        align-self: center;
    }

    .fld-menu-items:hover {
        cursor: pointer;
        border-radius: var(--main-border-radius);
        background-color: var(--main-color);
        color: var(--main-background-color);
    }

.fld-menu-items-group {
    font-weight: bold;
    color: var(--input-background-color);
}

    .fld-menu-items-group:hover {
        background-color: transparent;
        color: var(--action-background-color);
    }
